body{
    text-align:center;
}

.contenedor-ciclos{
    display:flex;
    justify-content:center;
    align-items:flex-start;
    gap:40px;
    margin-top:40px;
}

.panel-ciclos{
    display:flex;
    flex-direction:column;
    gap:12px;
}

#listaCiclos{
    width:320px;
    height:300px;
    font-size:16px;
}

.botones-ciclos{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.botones-ciclos button{
    width:200px;
    padding:10px;
    font-size:16px;
    cursor:pointer;
}