body{
background-color:#e9f2f7;
font-family:Arial;
margin:0;
padding-top:50px;
text-align:center;
}

/* BANNER */

.banner{
width:100%;
height:120px;
object-fit:cover;
display:block;
margin:0 auto;
}

/* BOTON LOGOUT */

.logout{
position:absolute;
top:20px;
right:20px;
padding:8px 15px;
font-size:14px;
cursor:pointer;
background:#d9534f;
color:white;
border:none;
border-radius:5px;
}

.logout:hover{
background:#c9302c;
}

/* LOGO */

.logo{
margin-top:20px;
}

/* MENU PRINCIPAL */

.menu{
margin-top:40px;
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.menu button{
padding:15px 25px;
font-size:16px;
cursor:pointer;
}

/* BOTONES GENERALES */

.btn{
color:white;
border:none;
padding:12px 20px;
font-size:16px;
border-radius:6px;
cursor:pointer;
margin:10px;
}

.btn:hover{
opacity:0.8;
}

/* COLORES DE BOTONES */

.profesores{ background:#3498db; }
.salones{ background:#2ecc71; }
.usuarios{ background:#9b59b6; }
.materias{ background:#f39c12; }
.ciclo{ background:#e74c3c; }

/* CONTENEDOR DE TABLAS */

.tabla-contenedor{
width:90%;
margin:20px auto;
border:1px solid #888;
background:#d9d9d9;
padding:5px;
height:350px;
overflow-y:auto;
}

/* TABLAS GENERALES */

table{
width:100%;
border-collapse:collapse;
background:white;
}

/* ENCABEZADOS */

th{
background:#bfc6cf;
color:#333;
padding:8px;
border:1px solid #888;
font-size:14px;
}

/* CELDAS */

td{
padding:6px;
border:1px solid #aaa;
font-size:14px;
text-align:left;
}

/* FILAS */

tr:nth-child(even){
background:#f2f2f2;
}

tr:hover{
background:#e6f2ff;
}

/* TITULO TABLA */

.titulo-tabla{
width:90%;
margin:auto;
background:#5b77a5;
color:white;
font-size:22px;
font-weight:bold;
padding:12px;
border-radius:4px 4px 0 0;
}

/* TABLA USUARIOS */

.tabla-usuarios{
width:100%;
max-width:900px;
margin:20px auto;
border-collapse:collapse;
table-layout:auto;
}

.tabla-usuarios th,
.tabla-usuarios td{
padding:8px;
border:1px solid #ccc;
text-align:center;
white-space:nowrap;
}

.tabla-usuarios th{
background:#2c3e50;
color:white;
}

.tabla-usuarios tr:nth-child(even){
background:#f5f5f5;
}

.tabla-usuarios tr:hover{
background:#f2f2f2;
}

/* TABLA EJEMPLO IMPORTACION */

.tabla-ejemplo{
border-collapse:collapse;
margin:20px auto;
width:auto;
}

.tabla-ejemplo th,
.tabla-ejemplo td{
border:1px solid #ccc;
padding:8px 12px;
text-align:center;
}

.tabla-ejemplo th{
background:#34495e;
color:white;
}

/* BOTONES TABLA */

.btn-reset{
background:#3498db;
color:white;
border:none;
padding:6px 10px;
border-radius:4px;
cursor:pointer;
}

.btn-reset:hover{
background:#2980b9;
}

.btn-eliminar{
background:#e74c3c;
color:white;
border:none;
padding:6px 10px;
border-radius:4px;
cursor:pointer;
}

.btn-eliminar:hover{
background:#c0392b;
}