.tabla-salones{
max-width:1000px;
margin:20px auto;
border-collapse:collapse;
width:100%;
}

.tabla-salones th{
background:#2c3e50;
color:white;
padding:8px;
}

.tabla-salones td{
border:1px solid #ccc;
padding:8px;
text-align:center;
}

#resultadoBusqueda{
margin-top:10px;
}

.resultadoSalones{
background:#f2f2f2;
padding:10px;
margin-bottom:8px;
border-radius:6px;
}